

    html,
    body {
        margin: 0;
        padding: 0;
        background-color: #282c34;
        color: white;
        font-family: sans-serif;
    }

    h1 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    h1 span {
        color: #ae81ff
    }

    canvas {
        background-color: #000000;
        border: 0.3rem solid #ae81ff;
        border-radius: 0.5rem;
        margin-right:  2vw;
    }

    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 1rem
    }

    label {
        font-size: 2.5rem;
        margin-top: 1.5vh;
        margin-right: 0.5vw;
    }

    label.switch {
        margin-left: 0.5vw;
    }

    input,
    button,
    select {
        width: 12rem;
        height: 3rem;
        background-color: inherit;
        color: inherit;
        margin-right: 1vw;
        margin-top: 1.5vh;
        border: 0.3rem solid white;
        border-radius: .75rem;
        font-size: 1.25rem;
    }



    option,
    option div {
        background-color: #ae81ff;
        border: 0.3rem solid white;
    }

    input {
        appearance: none;
        height: 2.5rem;
        width: 14rem;
    }

    button:hover,
    input:hover,
    select:hover,
    .slider:hover {
        border-color: #ae81ff;
        cursor: pointer;
    }

    button:hover span {
        color: #ae81ff;
    }
